<table>
  <thead>
    <tr>
      <th>Book</th>
      <th>User</th>
      <th>Start</th>
      <th>Finish</th>
      <th>Due</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rentals.each do |rental| %>
      <tr>
        <td><%= link_to rental.book.title, rental.book %></td>
        <td><%= link_to rental.user.name, rental.user %></td>
        <td><%= rental.start_date %></td>
        <td><%= rental.finished? ? rental.finish_date : button_to('Return', rental_finish_path(rental))%></td>
        <td><%= rental.due_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
